footer{
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    padding: 0.6vh;
    display: flex;
    justify-content: space-between;
}

footer > label{
    font-size: 0.8rem;
}

@media (max-width: 800px) {
    footer{
        flex-direction: column;
        text-align: center;
    }
}
