@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #012331;
    --secondary-color: #EFF6E0;
    --tertiary-color: #124559;
    --quaternary-color: #598392;
    --quinary-color: #AEC3B0;
}

html {
    font-size: 1.2vw;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input,
select,
textarea {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 1.4rem;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: 0.1rem;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 35vw;
}

select,
input[type="button"],
input[type="submit"] {
    width: 14vw;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: none;
    border: 1px solid var(--quaternary-color);
}

::-webkit-input-placeholder {
    /* WebKit for chromium based browsers */
    color: var(--quinary-color);
}

::-moz-placeholder {
    /* Mozilla Firefox */
    color: var(--quinary-color);
    opacity: 1;
}

textarea {
    resize: none;
    width: 60vw;
    height: 30vh;
}

i {
    font-size: 1.6rem;
    color: var(--secondary-color);
}

h1 {
    color: var(--secondary-color);
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
}

a {
    color: var(--secondary-color);
    padding: 0;
    margin: 0;
}

a:hover {
    color: var(--quinary-color);
}

.error {
    color: red;
}

/* media queries */
@media (max-width: 1024px) {
    html {
        font-size: 2vw;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 60vw;
    }
    select,
    input[type="button"],
    input[type="submit"] {
        width: 20vw;
    }
}

@media (max-width: 800px) {
    html {
        font-size: 2.5vw;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 70vw;
    }

    select,
    input[type="button"],
    input[type="submit"] {
        width: 25vw;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 3vw;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 85vw;
    }

    select,
    input[type="button"],
    input[type="submit"] {
        width: 30vw;
    }
}
